<section id="cfp">
      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Call For Paper</h2>
                  <p class="large text-muted">Nous sommes à la recherche d’intervenant.e.s qui souhaiteraient partager leur expérience autour de thématiques de cybersécurité telles que : OSINT, Forensic, CTI, Reverse Engineering...</p>
                  <p class="large text-muted">Les interventions peuvent prendre plusieurs formats : atelier/workshop et/ou conférence.</p>
                  <p class="large text-muted">Si vous êtes intéressé.e.s, n'hésitez pas à nous contacter à l'adresse e-mail ese@esiea[.]fr afin d'en discuter ou de soumettre votre proposition.</p>
                  <p class="large text-muted">Les propositions sont à envoyer jusqu'au 15 mars 2024.</p>
                </div>
            </div>
      </div>
</section>