<section id="cfp">
      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">CFP</h2>      
                  <p class="large text-muted">Nous recherchons des intervenants susceptibles de présenter un savoir-faire, un projet technique, un travail de recherche ou encore une réalisation innovante en lien avec la cybersécurité, sous la forme de présentations ou d'ateliers.</p>
                  <h3 class="section-heading"> How To</h3>
               
                        <p class="large text-muted">type (présentation / atelier)</p><br/>
                        <li>titre provisoire </li>
                        <li>mots-clefs</li>
                        <li>descriptif détaillé (environ 200 mots)</li>
                        <li>durée envisagée (présentations de 15 min à 60 min)</li>
                        <li>dans le cas d'un atelier,</li>            
                        pour un maximum de combien de personnes s'adresse-t-il ?</br>
                        peut il être donné plusieurs fois dans la journée?</br>
                        quelles sont les contraintes techniques éventuelles?</br>
                  
                  >                  
                  <h3 class="section-heading">AGENDA</h3>
                  
                  <p class="large text-muted">Les propositions sont à envoyer jusqu'au dimanche 14 mai prochain.</p>
                  
                  <h3>contact</h3>
                  <a href="mailto:ese@esiea.fr">ese@esiea.fr</a>
                  </div>
            </div>
      </div>
</section>