<!-- About Section -->
    <section id="edition9">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ESE 2022</h2>
                    <p class="large text-muted">Depuis 2013, l'ESIEA Secure Edition est une journée de conférences traitant de la cybersécurité.</p>
                    <p class="large text-muted">Elle se tiendra cette année le samedi 21 mai 2022 dans les locaux parisiens de l'ESIEA.</p>
                    <p class="large text-muted">Pour s'inscrire à la conférence : c est<a href="https://www.billetweb.fr/ese"> ici !</a>(il reste des places).</p>
                </div>
            </div>
        </div>
    </section>
