<!-- About Section -->
    <section id="edition9">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ESE#9 2022</h2>
                    <p class="large text-muted">L'ESIEA organise la troisième édition de l'ESIEA Secure Edition (ESE),<br>une journée de conférences autour de la sécurité informatique</br>, 
                    <br>qui se tiendra le samedi 22 mai 2022 dans les locaux parisiens de l'ESIEA (métro Les Gobelins sur la ligne 7)</br></p>
                    <p class="large text-muted">Si vous êtes interessé, veuillez remplir ce <a href="#contact">formulaire</a>, nous reconterons</p>
                </div>
            </div>
        </div>
    </section>
