<!-- About Section -->
    <section id="edition9">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A propos de l'édition #9 de 2021</h2>
                    <p class="large text-muted">Au regard de la situation sanitaire actuelle, nous espérons pouvoir maintenir l'événement en présentiel.</p>
                    <p class="large text-muted">Si toute fois ça ne pouvait être le cas, l'événement se déroulera en ligne.</p>
                    <p class="large text-muted">N'hésitez pas à nous contacter pour plus d'informations.</p>
                </div>
            </div>
        </div>
    </section>
