<!-- About Section -->
    <section id="edition10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ESE 2023</h2>
                    <p class="large text-muted">Depuis 2013, l'ESIEA Secure Edition est une journée de conférences traitant de la cybersécurité.</p>
                    <p class="large text-muted">Elle se tiendra cette année le samedi 17 juin 2023 de 10h à 18h  dans les locaux parisiens de l'ESIEA.</p>
                    <p class="large text-muted">L'inscription à l'ESE (10eu) comprend l'accès à la conférence, le déjeuner et les pauses café. C'est par <a href="https://www.billetweb.fr/ese-2023">ici</a></a></p>
                </div>
            </div>
        </div>
    </section>
