<!-- About Section -->
    <section id="edition9">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A propos de l'édition #9 de 2021</h2>
                    <p class="large text-muted">Au regard de la situation sanitaire actuelle, nous ne sommes pas en mesure de maintenir la 9ème édition de l'ESIEA Secure Edition en présentiel mais une version en ligne sera mis en place.</p>
                    <p class="large text-muted">Pour plus d'informations le site internet est à votre disposition.</p>
                    <p class="large text-muted">N'hésitez pas à nous contacter pour plus d'informations.</p>
                </div>
            </div>
        </div>
    </section>
