<!-- About Section -->
    <section id="edition8">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A propos de l'édition #8 de 2020</h2>
                    <p class="large text-muted">Au regard de la situation sanitaire actuelle, nous ne sommes pas en mesure de maintenir la 8ème édition de l'ESIEA Secure Edition.</p>
                    <p class="large text-muted">Nous vous donnons donc rendez-vous l'année prochaine.</p>
                    <p class="large text-muted">N'hésitez pas à nous contacter pour plus d'informations.</p>
                </div>
            </div>
        </div>
    </section>
