<!-- About Section -->
    <section id="edition10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ESE 2023</h2>
                    <p class="large text-muted">Depuis 2013, l'ESIEA Secure Edition est une journée de conférences traitant de la cybersécurité.</p>
                    <p class="large text-muted">Elle se tiendra cette année le samedi 17 juin 2023 dans les locaux parisiens de l'ESIEA.</p>
                </div>
            </div>
        </div>
    </section>
