<section id="howto">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">How to</h2>
                        <p class="large text-muted">Envoi par email à l'adresse ese@esiea.fr des informations relatives à l'intervention proposée</p>
                        
                            <ul>
                                <p class="large text-muted"><li>type (présentation / atelier)</li></p>
                                    <li>titre provisoire</li>
                                    <li> mots-clefs</li>
                                    <li>descriptif détaillé (environ 200 mots)</li>
                                    <li>durée envisagée (présentations de 15 min à 60 min)</li>
                                    <li>dans le cas d'un atelier</li>
                                        <ul>
                                                <li>pour un maximum de combien de personnes s'adresse-t-il ?</li>
                                                <li>peut il être donné plusieurs fois dans la journée?</li>
                                                <li>quelles sont les contraintes techniques éventuelles?</li> 

                                        </ul>
                            </ul>
                    </p>
        </div>
    </div>
</section>