<html>

<head>
    <link rel="stylesheet" media="screen" type="text/css" href="css/inscription.css"/>
    <title>
        ESE cybersecurite
    </title>
</head>

<body>
    <div class="container">
        <h1 class="page-title">
            ESE #9 édition
        </h1>
        <img src="https://ese.esiea.fr/img/logo.png" class="page-logo"
            alt="">
        <p class="page-subtitle">
           Réservez votre place pour le samedi 12 juin
        </p>
      <p class="page-subtitle">
        Copier!!! le lien pour réserver une place 
      </p>
      <p class="page-subtitle">https://docs.google.com/forms/d/e/1FAIpQLSdE6yUQ3--_amwjCBS3vMmbS9gu-PcE8VtfxI8qudcd9vOoSw/viewform?vc=0&c=0&w=1&flr=0
        </p>
        </div>
    </div>
       
</body>

</html>
