<section id="programme">
    <div class="container">
        <div class="col-lg-12 text-center">
        <h2 class="section-heading">Programme du samedi 21 mai 2022</h2>
        <table>

            <tr>
                <td>
                    Heure
                </td>
                <td>
                    Titre
                </td>
                <td>
                    Auteurs
                </td>
            </tr>
            <tr>
                <td>9H00 - 9H30</td>
                <td>Accueil du public</td>
                <td></td>
            </tr>
            <tr>
                <td>9H30 - 9H45</td>
                <td>Ouverture</td>
                <td></td>
            </tr>
            <tr>
                <td>9H45 - 10H30</td>
                <td>Conflit russo-ukrainien: impacts dans le cyberespace</td>
                <td>Michel Dubois</td>
            </tr>
            <tr>
                <td>10H30 - 11H15</td>
                <td>2021: A Titan M Odyssey (English speech) </td>
                <td>Maxime Rossi Bellom and Damiano Melotti</td>
            </tr>
            <tr>
                <td>11H30 - 12H15</td>
                <td>Opération Yara</td>
                <td>Paul Rascagnères</td>
            </tr>
            <tr>
                <td>12H15 - 13H00</td>
                <td>Stratégie d'analyse de la sécurité des systèmes embarqués: les outils et techniques de l'attaquant</td>
                <td>Mathieu Renard</td>
            </tr>
            <tr>
                <td>13H00 - 13H45</td>
                <td>Pause déjeûner</td>
                <td></td>
            </tr>
            <tr>
                <td>13H45 - 14H30</td>
                <td>Les aventuriers des syscalls ID perdus</td>
                <td>Alice Climent-Pommeret</td>
            </tr>
            <tr>
                <td>14H30 - 14H45</td>
                <td>PST 1</td>
                <td></td>
            </tr>
            <tr>
                <td>14H45 - 15H15</td>
                <td>Fouillons les poubelles</td>
                <td>Antoine Cervoise</td>
            </tr>
            <tr>
                <td>15H15 - 15H30</td>
                <td>Pause café</td>
                <td></td>
            </tr>
            <tr>
                <td>15H30 - 16H15</td>
                <td>Sécurité Télécom: surfaces d'attaques des réseaux mobiles legacy</td>
                <td>Rémi Bonamy</td>
            </tr>
            <tr>
                <td>16H15 - 17H00</td>
                <td>Panorama de la cybercriminalité du Clusif 2021 (extraits)</td>
                <td>Hervé Schauer</td>
            </tr>
            <tr>
                <td>17H00</td>
                <td>Clôture</td>
                <td></td>
            </tr>
        </table>
    </div>
    </div>
</section>