<section id="speakers">
    <div class="container">
        <div class="col-lg-12 text-center">
            <table>
                <thead>
                    <tr>
                      <th>Horaire</th>
                      <th>Conférences</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>10H00-10H05</td>
                      <td>Lancement ESE'23</td>
                    </tr>
                    <tr>
                      <td>10H05-10H45</td>
                      <td><strong>Ukraine, 2014-2023 : la «cyberguerre» n'est pas celle que vous croyez</strong> (Amaëlle GUITON, Libération)</td>
                    </tr>
                    <tr>
                      <td>10H45-11H25</td>
                      <td><strong>Google Apps Script: ce talk requiert l'accès à vos mails</strong> (Nicolas KOVACS et Sébastien ROLLAND, Quarkslab)</td>
                    </tr>
                    <tr>
                      <td>11H25-11H40</td>
                      <td>Pause-café</td>
                    </tr>
                    <tr>
                      <td>11H40-12H20</td>
                      <td><strong>#CTF - Introduction à pwntools</strong> (Christophe GRENIER, CGSecurity)</td>
                    </tr>
                    <tr>
                      <td>12H20-13H00</td>
                      <td>Mise en place d'une plateforme de test DMA pour PCILeech avec QEMU (H2Lab)</td>
                    </tr>
                    <tr>
                      <td>13H00-13H30</td>
                      <td>Pause-déjeuner</td>
                    </tr>
                    <tr>
                      <td>13H30-14H10</td>
                      <td><strong>Attaques IoT par la 5G</strong> (Sébastien DUDEK, PentHertz)</td>
                    </tr>
                    <tr>
                      <td>14H10-14H50</td>
                      <td><strong>Threat Hunting: Gotta hunt'em all</strong> (Matthieu MARTINS-BALTAR et Valentin MALET, Airbus Protect)</td>
                    </tr>
                    <tr>
                      <td>14H50-15H05</td>
                      <td>Pause-café</td>
                    </tr>
                    <tr>
                      <td>15H05-15H45</td>
                      <td><strong>Compromission WAN du NETGEAR R6700V3</strong> (Kevin DENIS, Synacktiv)</td>
                    </tr>
                    <tr>
                      <td>15H45-16H25</td>
                      <td><strong>Projets Opensource en sécurité: où sont les contributeurs ?</strong> (Sébastien LARINIER, Groupe ESIEA)</td>
                    </tr>
                    <tr>
                      <td>16H25-16H40</td>
                      <td>Pause-café</td>
                    </tr>
                    <tr>
                      <td>16H40-17H20</td>
                      <td><strong>Les implémentations TLS dans tous leurs états</strong> (Olivier LEVILLAIN, Télécom SudParis)</td>
                    </tr>
                    <tr>
                      <td>17H20-18H00</td>
                      <td><strong>SideCopy's Intriguing Pursuit - Unmasking Their Cyber Espionage Spanning Borders</strong> (Thibault SERET, Team Cymru)</td>
                    </tr>
                    <tr>
                      <td>18H00</td>
                      <td>Fin ESE'23</td>
                    </tr>
                  </tbody>
              </table>
              <br>
              
              <p class="large text-muted">Pour toute question, vous pouvez nous écrire à <a href="mailto:ese@esiea.fr">ese@esiea.fr</a></p>

        </div>
    </div>

</section>
