<section id="speakers">
    <div class="container">
        <div class="col-lg-12 text-center">
            <table>
                <thead>
                  <tr>
                    <th>Titre</th>
                    <th>Auteur(s)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ukraine, 2014-2023 : la «cyberguerre» n'est pas celle que vous croyez</td>
                    <td>Amaëlle GUILTON (Libération)</td>
                  </tr>
                  <tr>
                    <td>SideCopy's Intriguing Pursuit - Unmasking Their Cyber Espionage Spanning Borders</td>
                    <td>Thibault SERET (Team Cymru)</td>
                  </tr>
                  <tr>
                    <td>Threat Hunting: Gotta hunt'em all</td>
                    <td>Matthieu Martins-Baltar et Valentin Malet (Airbus Protect)</td>
                  </tr>
                  <tr>
                    <td>Les implémentations TLS dans tous leurs états</td>
                    <td>Olivier LEVILLAIN (Télécom Paris)</td>
                  </tr>
                  <tr>
                    <td>Attaques IoT par la 5G</td>
                    <td>Sébastien DUDEK (PentHertz)</td>
                  </tr>
                  <tr>
                    <td>Compromission WAN du NETGEAR R6700V3</td>
                    <td>Kevin DENIS (Synactiv)</td>
                  </tr>
                  <tr>
                    <td>Mise en oeuvre d'attaques DMA sur qemu avec pcileech</td>
                    <td>Mathieu RENARD (H2Lab)</td>
                  </tr>
                  <tr>
                    <td>#CTF - Introduction à pwntools</td>
                    <td>Christophe GRENIER (CGSecurity)</td>
                  </tr>
                  <tr>
                    <td>Les projets Opensource en sécurité: Où sont les contributeurs ?</td>
                    <td>Sébastien LARINIER (ESIEA)</td>
                  </tr>
                  <tr>
                    <td>Google Apps Script : ce talk requiert l'accès à vos mails</td>
                    <td>Nicolas Kovacs et Sébastien Rolland (Quarkslab)</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

</section>