<section id="speakers">
    <div class="container">
        <div class="col-lg-12 text-center">
            <table>
                <tbody>
                  <tr>
                    <td><strong>Ukraine, 2014-2023 : la «cyberguerre» n'est pas celle que vous croyez</strong> (Amaëlle GUILTON, Libération)</td>
                  </tr>
                  <tr>
                    <td><strong>SideCopy's Intriguing Pursuit - Unmasking Their Cyber Espionage Spanning Borders</strong> (Thibault SERET, Team Cymru)</td>
                  </tr>
                  <tr>
                    <td><strong>Threat Hunting: Gotta hunt'em all</strong> (Matthieu MARTINS-BALTAR et Valentin MALET, Airbus Protect)</td>
                  </tr>
                  <tr>
                    <td><strong>Les implémentations TLS dans tous leurs états</strong> (Olivier LEVILLAIN, Télécom SudParis)</td>
                  </tr>
                  <tr>
                    <td><strong>Attaques IoT par la 5G</strong> (Sébastien DUDEK, PentHertz)</td>
                  </tr>
                  <tr>
                    <td><strong>Compromission WAN du NETGEAR R6700V3</strong> (Kevin DENIS, Synacktiv)</td>
                  </tr>
                  <tr>
                    <td><strong>Mise en oeuvre d'attaques DMA sur qemu avec pcileech</strong> (Mathieu RENARD, H2Lab)</td>
                  </tr>
                  <tr>
                    <td><strong>#CTF - Introduction à pwntools</strong> (Christophe GRENIER, CGSecurity)</td>
                  </tr>
                  <tr>
                    <td><strong>Les projets Opensource en sécurité: où sont les contributeurs?</strong> (Sébastien LARINIER, Groupe ESIEA)</td>
                  </tr>
                  <tr>
                    <td><strong>Google Apps Script: ce talk requiert l'accès à vos mails</strong> (Nicolas KOVACS et Sébastien ROLLAND, Quarkslab)</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

</section>